.slide1-content {
  height: 100%;
  width: 100%;
  /* background: yellow; */

  position: absolute;
  z-index: 1;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.inner-content-slide1 {
  width: 50%;
  /* padding-left: 15%; */
  padding-left: 50px;
  /* background: red; */
}
.inner-content-slide1 > p {
  font-family: "Arimo";
  font-size: 16px;
  /* color: red; */
  color: white;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.inner-content-slide1 > p:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
}
.inner-content-slide1 > p:nth-child(4) {
  max-width: 50%;
  font-weight: 1000;
}
.inner-content-slide1 > .btn {
  /* background: red !important; */
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  display: flex;
  color: white;
  border: 1px solid white;
  font-family: "Arimo";
}

@media only screen and (max-width: 1000px) {
  .carousel-item {
    min-width: 100% !important;
  }
  .slide1-content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    top: 100%;
    height: auto !important;
    background: #333333;
    color: black;
  }
  .carousel-inner {
    overflow: visible;
  }
  .inner-content-slide1 {
    width: 100%;
  }
  .inner-content-slide1 > p {
    font-size: 14px;
  }
  .inner-content-slide1 > p:nth-child(2) {
    font-size: 28px;
  }
  .inner-content-slide1 > p:nth-child(4) {
    font-size: 14px;
    max-width: 80%;
    font-weight: 300;
  }
  .inner-content-slide1 > .btn {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .inner-content-slide1 > .btn > img {
    margin: 0px;
    padding: 0px;
  }
}
